repos:
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    - id: black
      language_version: python3.8
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    - id: flake8
    - id: trailing-whitespace
    - id: check-added-large-files
    - id: check-ast
    - id: check-json
    - id: debug-statements
    - id: detect-aws-credentials
    - id: detect-private-key
    - id: fix-encoding-pragma
    - id: requirements-txt-fixer
    - id: mixed-line-ending
