bumpversion==0.6.0
click==7.1.2
pre-commit==2.11.1
coverage==5.5
pip==21.0.1
flake8==3.9.0
pytest==6.2.2
pytest-cov==2.11.1
pytest-runner==5.3.1
requests-mock==1.8.0
Sphinx==3.5.3
tox==3.23.0
twine==3.4.1
watchdog==2.0.2
wheel==0.36.2
