bumpversion==0.5.3
click==7.1.2
coverage==5.1
flake8==3.7.9
pip==20.1
pytest==5.4.1
pre-commit==2.3.0
pytest-cov==2.8.1
pytest-runner==5.2
requests-mock==1.8.0
Sphinx==3.0.3
tox==3.14.6
Sphinx==3.0.3
twine==3.1.1
watchdog==0.10.2
wheel==0.34.2
