bumpversion==0.6.0
click==7.1.2
pip==20.2.3
coverage==5.3
flake8==3.8.3
pre-commit==2.7.1
pytest==6.2.2
pytest-cov==2.10.1
pytest-runner==5.2
requests-mock==1.8.0
Sphinx==3.2.1
tox==3.20.0
watchdog==0.10.3
twine==3.2.0
wheel==0.35.1
